{% extends "base.html" %}
{#{% load bootstrap %}#}

{% block title %}Edit{% endblock title %}


{% block content %}
    {% if id %}
        <h3 class="page-header">Edit</h3>
        <form action="{% url 'line_graph:edit' id=id %}" method="post" class="form-horizontal" role="form">
    {% else %}
        <h3 class="page-header">Edit</h3>
        <form action="{% url 'line_graph:add' %}" method="post" class="form-horizontal" role="form">
    {% endif %}
      {% csrf_token %}
{#      {{ form|bootstrap_horizontal }}#}
      {{ form }}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
    <a href="{% url 'index' %}" class="btn btn-default btn-sm">Back</a>
{% endblock content %}