{% extends "base.html" %}

{% block title %}
Rate
{% endblock title %}

{% block content %}
<h3>Rate</h3>

<div class="container">
    <div class="clearfix">
        {% if line_graph_data %}
            <a class="btn btn-primary btn-sm" href="#">Get Rate</a>
            <a class="btn btn-primary btn-sm" href="{% url 'line_graph:index' %}">Data</a>
            <table class="table table-bordered table-condensed table-hover" style="width: 300px;">
                <thead>
                    <tr>
                        <th>date</th>
                        <th>time</th>
                        <th>rate</th>
                    </tr>
                </thead>
                {% for acc in line_graph_data %}
                    <tr>
                        <td>{{ acc.datetime.date }}</td>
                        <td>{{ acc.datetime.time }}</td>
                        <td>{{ acc.rate }}</td>
                    </tr>
                {% endfor %}
            </table>
            <iframe class="graph" src="/rate_line_graph.html"></iframe>
        {% else %}
            <h1>There is no date.</h1>
        {% endif %}
    </div>
</div>

{% endblock content %}
{% block script %}
{% endblock %}