<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "/css/style.css" %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Mono:300,500|Roboto+Slab:300" rel="stylesheet">

</head>
<body>
    <h1>Rate Display App</h1>
    <div class="container">
        <div class="clearfix">
            {% if rate_lists %}
                <a class="btn btn-info pull-right" href="#">Get Rate</a>

                <table class="table table-bordered table-condensed table-hover" style="width: 300px;">
                    <thead>
                        <tr>
                            <th>date</th>
                            <th>time</th>
                            <th>rate</th>
                        </tr>
                    </thead>
                    {% for acc in rate_lists %}
                        <tr>
                            <td>{{ acc.datetime.date }}</td>
                            <td>{{ acc.datetime.time }}</td>
                            <td>{{ acc.rate }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <iframe class="graph" src="/static/html/rate_line_graph.html"></iframe>
            {% else %}
                <h1>There is no date.</h1>
            {% endif %}
        </div>
    </div>
<footer>©2018 Ryo Togashi.</footer>
</body>
</html>